In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ocorrencia.csv')
df = df[df['ocorrencia_dia'].str.contains("\d+/\d+/\d+")]
df['ocorrencia_dia'] = pd.to_datetime(df.ocorrencia_dia, format='%d/%m/%Y')

df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,Unnamed: 9,Unnamed: 10
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0,NaN,NaN
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3,NaN,NaN
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0,NaN,NaN
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0,NaN,NaN
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0,NaN,NaN

In [5]:
df.loc[1,'ocorrencia_cidade']

'GUARULHOS'

In [6]:
df.loc[3]

codigo_ocorrencia                         45401
codigo_ocorrencia2                        45401
ocorrencia_classificacao               ACIDENTE
ocorrencia_cidade                 SÃO SEBASTIÃO
ocorrencia_uf                                SP
ocorrencia_aerodromo                       ****
ocorrencia_dia              2012-01-06 00:00:00
ocorrencia_hora                        17:00:00
total_recomendacoes                           0
Unnamed: 9                                  NaN
Unnamed: 10                                 NaN
Name: 3, dtype: object

In [7]:
df.loc[[10,40]]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,Unnamed: 9,Unnamed: 10
10,45332,45332,ACIDENTE,VIAMÃO,RS,****,2012-01-09,13:30:00,0,NaN,NaN
40,45415,45415,ACIDENTE,RIO DE JANEIRO,RJ,****,2012-01-30,13:55:00,0,NaN,NaN

In [8]:
df.loc[:,'ocorrencia_cidade']

0        PORTO ALEGRE
1           GUARULHOS
2              VIAMÃO
3       SÃO SEBASTIÃO
4            SÃO SEPÉ
            ...
5162            JATAÍ
5163          MARACAÍ
5164    NOVO HAMBURGO
5165         CURITIBA
5166        PETROLINA
Name: ocorrencia_cidade, Length: 5150, dtype: object